<h1>Edit auction</h1>

<form id="edit-auction" name="auction">
  <div class="field">
    <label for="item_name"> item_name:</label>
    <input type="text" name="item_name" id="item_name" value="<%= item_name %>" >
  </div>

  <div class="field">
    <label for="current_price"> current_price:</label>
    <input type="text" name="current_price" id="current_price" value="<%= current_price %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Auction" />
  </div>

</form>

<a href="#/index">Back</a>