<h3><i class="icon-shopping-cart icon-white"></i> Auctions</h3>

<table id="auctions-table" class="table table-striped">
  <tr>
  </tr>
</table>

<% if (window.Bidsystem.ActiveUser) { %>
  <a href="#/auctions/new"><i class="icon-plus-sign icon-white"></i> Add Item for Auction</a>
<% } %>

