<h3><i class="icon-shopping-cart icon-white"></i> Add auction</h3>

<form id="new-auction" name="auction" class="form-inline">
</form>

<a href="/#"><i class="icon-chevron-left icon-white"></i> Back</a>
