<h3>Instructions</h3>

<dl>
  <dt>Add a user</dt>
  <dd>Assign it a name, email and a bugdet</dd>
  <dt>Login a user</dt>
  <dd>When you login a user you will be able to create auctions for items or bid in other auctions</dd>
  <dt>Close an auction</dt>
  <dd>When you want to define a winner for the auction, just click in "Close!" and the auction is finished, declaring the highest bidder as the winner.</dd>
</dl>

<div id="users">
</div>

<div id="auctions">
</div>
