<h3>Instructions</h3>

<dl>
  <dt>Add a user</dt>
  <dd>Assign it a name, email and a bugdet</dd>
  <dt>Login a user</dt>
  <dd>When you login a user you will be able to create auctions for items or bid in other auctions. Login scopes the action to the particular logged in user.</dd>
  <dt>Add an auction</dt>
  <dd>After you login a user, you can create auctions with an item name and a starting price.</dd>
  <dt>Bid in an auction</dt>
  <dd>Users can bid in an auction. The money the use to bid will be blocked until the lose the auction. If they win the auction, the money is transfered to the auction.</dd>
  <dt>Close an auction</dt>
  <dd>When you want to define a winner for the auction, just click in "Close!" and the auction is finished, declaring the highest bidder as the winner. The auctioner will receive receive the money, and the winner gets the money withdrawn from its budget.</dd>
</dl>

<div id="users">
</div>

<div id="auctions">
</div>
