<h3><i class="icon-group icon-white"></i> Users</h3>

<table id="users-table" class="table table-striped">
  <tr>
  </tr>
</table>

<a href="#/users/new"><i class="icon-plus-sign icon-white"></i> Add User</a>
